body{
    background-color: #0b0f11;
    color: aliceblue;
    font-family: monospace;
    margin: 50px;
    user-select: none;
}
h1{
    font-size: 48px;
}
p{
    font-size: 24px;
}

.value {
    position: relative;
    cursor: pointer;
}

.value:hover{
    font-weight: bold;
}

.value::before {
    content: "Click to copy";
    position: absolute;
    top: -24px;
    left: 0;
    background-color: #333;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    transition: opacity 0.3s ease-in-out;
}
  
.value:hover::before {
    opacity: 1;
}

.value.copied::before {
    content: "Copied!";
    opacity: 1;
  }